day2-agents-workshop/Blog Generation from Trending Youtube Videos based on the given topic.json
{
  "name": "Blog Generation from Trending Youtube Videos based on the given topic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-blog-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9c077090-67d2-442a-a95f-c3a87dd0184c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        -64
      ],
      "webhookId": "youtube-blog-agent-webhook",
      "notes": "Entry point. Send POST with JSON body: { \"sessionId\": \"user123\", \"message\": \"Find me top AI videos this week\" }"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.topic }}",
        "options": {
          "systemMessage": "You are an intelligent YouTube Research & Blog Writing Agent.\n\nToday's date: {{ $now.format('MMMM D, YYYY') }}\n\nYour job:\n1. Use the `search_youtube_videos` tool to find top videos on the given topic.\n\n2. Filter for videos longer than 15 minutes and with high view counts (prefer\n   >100k views). Pick the best 1-3 candidates.\n\n3. Use the `get_video_transcript` tool on each selected video. If a transcript\n   is not found for a video, skip it and try the next candidate. If no\n   transcripts are found at all, inform the user, the root cause and ask for a different topic.\n\n4. Convert the transcript into a clean HTML blog post with this structure:\n   - Catchy title in <h1>\n   - Short intro of 2-3 sentences in <p>\n   - 3-5 sections with <h2> subheadings based on the video content\n   - Key takeaways as <ul><li> bullet list\n   - Conclusion in <p>\n   - No markdown. Wrap everything in a <div style=\"font-family: Arial,\n     sans-serif; line-height: 1.6; max-width: 680px; margin: auto;\">\n     for clean email rendering.\n\n5. Return only the finished HTML blog post as your final output.\n   Do not include any explanation or extra text outside the HTML.\n\n6. Remember what topics the user has already explored in this session and\n   never repeat them. If the user asks for the same topic again, inform them\n   it was already covered and suggest a related topic instead."
        }
      },
      "id": "ec9dbb37-df46-4555-8984-597892e3c9dc",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        96,
        -64
      ],
      "notes": "Core reasoning node. Uses LLM + memory + 3 tools."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "627ea78b-97ec-48e3-b03a-30b804c1e309",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        128
      ],
      "notes": "Stores last 20 conversation turns per sessionId. Agent remembers topics searched, videos found, emails sent."
    },
    {
      "parameters": {
        "toolDescription": "Search YouTube for videos on a given topic. Returns a list of videos with their video ID, title, channel name, and view count. Always use this tool first when the user provides a topic. Pass the topic as the query.",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "valueProvider": "fieldValue",
              "value": "=={{ $fromAI('query', 'The topic to search on YouTube', 'string') }}"
            },
            {
              "name": "part",
              "valueProvider": "fieldValue",
              "value": "snippet"
            },
            {
              "name": "maxResults ",
              "valueProvider": "fieldValue",
              "value": "10"
            },
            {
              "name": "type ",
              "valueProvider": "fieldValue",
              "value": "video"
            },
            {
              "name": "key",
              "valueProvider": "fieldValue",
              "value": "{{ $env.YOUTUBE_API_KEY }}"
            }
          ]
        }
      },
      "id": "5449dcd2-deab-4b5e-8d1b-b50f414e455e",
      "name": "Tool: Search YouTube Videos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        304,
        112
      ],
      "notes": "SETUP: Replace YOUR_YOUTUBE_API_KEY_HERE with your Google Cloud YouTube Data API v3 key. The 'long' duration filter returns only videos >20 min. The agent will apply the >15 min logic in its reasoning."
    },
    {
      "parameters": {
        "toolDescription": "Fetch the full spoken transcript of a YouTube video using its video ID. Use this after selecting the best videos from the search results. If the transcript is not found or returns an error, skip that video and try the next one.",
        "method": "POST",
        "url": "https://www.youtube-transcript.io/api/transcripts",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Basic {{ $env.TRANSCRIPT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [\n   \"={{ $fromAI('videoId', 'The YouTube video ID', 'string') }}\",\n  ]\n}"
      },
      "id": "3414b2a0-30e6-43ff-8ee6-41372bd10008",
      "name": "Tool: Get Video Transcript",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        448,
        112
      ],
      "notes": "SETUP: Host the youtube-transcript-api Python package as a simple REST endpoint. See README below for 3 easy options (Railway, Render, or local). Replace the URL with your hosted endpoint."
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        112
      ],
      "id": "a17608eb-85da-489a-abf4-4ad0fbe19a1b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3odSc4UB0vR5Eqvm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.EMAIL_TO }}",
        "subject": "=Weekly Blog",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -64
      ],
      "id": "9d74e9e9-8c97-44e8-a0e8-1430c73c2d16",
      "name": "Send a message",
      "webhookId": "206e6e10-cc44-441c-bd47-195e218a4cf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ys9AEkuH5ENRje0d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        -64
      ],
      "id": "894d766f-6590-4d3e-875e-c4d6a38a15ea",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Search YouTube Videos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get Video Transcript": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f529d29f-0980-4914-b99c-4b32220b31cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af1dc1678370e9d8bae48bdeb9b564eca85746310173381d687e9b0be99940cd"
  },
  "id": "gG7kelofU6Kfy0wM",
  "tags": []
}