day2-agents-workshop/Weekly Topic Update Agent.json
{
  "name": "Weekly Topic Update Agent",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"topic\": \"AI\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "61b91b75-e405-4564-8e11-0e54cdda318b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=q",
              "value": "={{$json.topic}}"
            },
            {
              "name": "=part",
              "value": "snippet"
            },
            {
              "name": "maxResults ",
              "value": "5"
            },
            {
              "name": "type ",
              "value": "video"
            },
            {
              "name": "key",
              "value": "AIzaSyAodUxh59QTG9UQ5twcABwK00etbG2SK-Q"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "38c9c84e-63c7-4d4a-bd74-d071799819c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "contentDetails,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json[\"items\"].map(i => i.id.videoId).join(\",\") }}"
            },
            {
              "name": "key",
              "value": "AIzaSyAodUxh59QTG9UQ5twcABwK00etbG2SK-Q"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "cce9de25-af5e-4b9f-9ad7-a51498f65869",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items;\n\n// helper: convert ISO duration → minutes\nfunction getMinutes(duration) {\n  const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  const h = parseInt(match[1] || 0);\n  const m = parseInt(match[2] || 0);\n  return h * 60 + m;\n}\n\n// filter > 15 mins\nconst filtered = items.filter(v => getMinutes(v.contentDetails.duration) > 15);\n\n// sort by views\nfiltered.sort((a, b) => b.statistics.viewCount - a.statistics.viewCount);\n\n// pick top\nconst best = filtered[0];\n\nreturn [{\n  videoId: best.id,\n  title: best.snippet?.title || \"Video\",\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "512f1dc1-0c84-4914-b473-3891c104f12f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.youtube-transcript.io/api/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic 69ea0b0438c1056396a571af"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [\n    \"{{$json.videoId}}\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "158d7fc8-fd99-42c6-9051-8486a75320d3",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the transcript into a clean HTML blog.\n\n- Add title\n- Add headings\n- Remove filler words\n- Make it readable\n- No markdown\n- Clean readable formatting\n\nTranscript:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1456,
        0
      ],
      "id": "b184ea8e-d7e8-42cd-8e0c-a1339b993167",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        208
      ],
      "id": "77819820-9804-46de-b58e-4b2fa091bee4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3odSc4UB0vR5Eqvm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nadra.ibrahim0718@gmail.com",
        "subject": "=Weekly Blog",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1808,
        0
      ],
      "id": "97b57f27-88df-499f-bbeb-e4d2010ee3cb",
      "name": "Send a message",
      "webhookId": "206e6e10-cc44-441c-bd47-195e218a4cf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ys9AEkuH5ENRje0d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "2cac15ba-36dc-437a-90af-fd7613e101a9",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c6c2d7b9-6cdd-4885-a9a2-45008b99f36f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af1dc1678370e9d8bae48bdeb9b564eca85746310173381d687e9b0be99940cd"
  },
  "id": "QpZ0hm2iWBovHnjU",
  "tags": []
}